# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
.next/
dist/
out/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Outros
all.json
README max.md

# prisma (não aplicado)
prisma/

# indexer (não aplicado)
indexer/

# Token Services não validados
libs/blockchain/tokenService-comVCcorrigida2.ts
libs/blockchain/tokenService-comVCporUpdate-vazio1.ts
libs/blockchain/tokenService-cVC-contrato-v3.ts
libs/blockchain/tokenService.ts-OLD
libs/blockchain/tokenService.ts-versaoallabisemretorno
